<html>
  <body><h1>All Actors: </h1>

    <% @i = 0 %>
    <% @actors.each do |name| %>
    <p><a href="/actors/<%=@actor_id[@i]%>"><%= name %><a></p>
    <% @i += 1 %>
    <% end %>

  </body>
</html>
